@{
    ViewData["Title"] = "Landing Page";
}

<style>
    .landigpage {
        margin: 0;
        padding: 0;
        background-image: url('BeautifyMe.png');
        background: url('BeautifyMe.png') center no-repeat;
        /* Replace 'your-image.jpg' with the path to your image */
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Add additional styles as needed */
</style>
<div class="landigpage">
    <!-- Your webpage content goes here -->
</div>
